<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ScheduleIntervalInMinutes" value="0.5"/>
    <add key="PositionReportFilePath" value="C:\Edwin\Tech\Coding\Petroineos"/>
  </appSettings>
</configuration>